@media (prefers-color-scheme: dark) {
    body {
        background-color: $theme-color;
    }

    body,
    button,
    input,
    select,
    textarea,
    a {
        color: darken(white, 10%);
    }

    table,
    th,
    td {
        border-color: lighten(black, 30%);
    }

    th {
        background: lighten(black, 10%);
    }

    .post-title, .sitemap-table {
        > a {
            color: darken(white, 10%);
        }
    }

    .cn-card {
        a {
            color: darken(white, 10%);
            &:hover {
                color: darken($theme-color-green, 10%);
            }
        }
    }

    #pea_cook_btn {
        color: lighten(black, 20%);
    }
}