.gallery, .columns {
	margin-bottom: $primary-text-tag-margin;
	&:last-child {
		margin-bottom: 0;
	}
	@include flexbox();
}

.gallery {
	@for $i from 1 through 9 {
		&.gallery-columns-#{$i} > * {
			width: 100% / $i;
			@if (($i - 1) > 0) { 
				@include breakpoint(M) {
					width: 100% / ($i - 1);
				}
			}
			@if (($i - 2) > 0) { 
				@include breakpoint(XS) {
					width: 100% / ($i - 2);
				}
			}
		}
	}
}

$column-gap: 20px;
.columns {
	margin-right: -$column-gap;
	@for $i from 1 through 9 {
		&.gallery-columns-#{$i} > * {
			margin-right: $column-gap;
			margin-bottom: $column-gap;
			width: calc(100% / #{$i} - #{$column-gap});
			@if (($i - 1) > 0) { 
				@include breakpoint(M) {
					width: calc(100% / (#{$i} - 1) - #{$column-gap});
				}
			}
			@if (($i - 2) > 0) { 
				@include breakpoint(XS) {
					width: calc(100% / (#{$i} - 2) - #{$column-gap});
				}
			}
		}
	}
}

.gallery-item {
	padding: 1px;
	float: none !important;
	margin: 0px !important;
}

.gallery-icon {
	display: block;
	margin: 0 auto;
	img {
		display: block;
		margin: 0 auto;
	}
}

.of-above-average-width {
	margin-left: -$padding;
	width: calc(100% + #{$padding} * 2);
	max-width: calc(100% + #{$padding} * 2) !important;
	&:last-child {
		margin-bottom: -$padding;
	}
}