.box dl {
	margin: 0;
	> dt,
	> dd {
		padding: 0px $padding;
		&:nth-of-type(even) {
			background: darken(white, 5%);
		}
	}
	> dt {
		font-weight: 700;
		padding-top: $padding * 0.4;
	}
	> dd {
		margin-bottom: 0;
		padding-bottom: $padding * 0.4;
		> p{
			margin-bottom: 0;
		}
	}
}

dl.collapsable {
	dt {
		border-top: solid 1px lighten($theme-color, 50%); 
		padding: 10px 0px;
		position: relative;
		@include icon($icon-chevron-down, false);
		&:before {
			float: right;
			line-height: inherit;
		}
		&:hover {
			color: $theme-color-green;
		}
		&.active:before {
			transform: rotateX(180deg);
			padding-bottom: 0px;
		}
	}
}

.buttons-list {
	list-style-type: none;
	margin-left: 0;
	&.inline-items {
		li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
}

.flexbox-list {
	list-style: none;
	margin: 0 -10px -10px 0;
	@include flexbox();
	li {
		margin: 0 10px 10px 0;
	}
}