$site-navigation-width: 220px;
$menu-item-color: lighten($theme-color, 10%);
$menu-item-border: solid 1px lighten($theme-color, 5%);
$menu-item-hover-color: rgba($theme-color, 0.5);

.menu {
	list-style: none;
	margin: 0;
	position: relative;
	&:not(#navigation-menu) {
		padding: 0;
	}
}

#navigation-toggle,
#back-to-top,
#search-toggle,
#login-button {
	border-radius: 50%;
	display: block;
	font-weight: bold;
	line-height: 1rem;
}

#navigation-toggle,
#back-to-top {
	background: $menu-item-color;
	box-shadow: $primary-box-shadow;
	color: white;
	font-size: 1.75rem;
	padding: 10px;
	position: fixed;
	right: 20px;
	z-index: 100;
	&:hover {
		background: $theme-color;
	}
	@include breakpoint(M) {
		&.active {
			right: $site-navigation-width + 10px;
		}
	}
	@include breakpoint(XS) {
		right: 10px;
	}
}

$nav_toggle_top: 20px;

#navigation-toggle {
	display: none;
	top: $nav_toggle_top;
	@include icon($icon-menu, false);
	&.active {
		@include icon-content($icon-cross);
	}
	@include breakpoint(M) {
		display: block;
	}
}

#back-to-top {
	bottom: 20px;
	opacity: 1;
	@include icon($icon-chevron-up, false);
	transform: scale(1);
	&.hidden {
		z-index: -1;
		opacity: 0;
		transform: scale(0.5);
	}
}

/* Navigation menu */

#navigation-wrapper {
	background-color: lighten(black, 30%);
	box-shadow: $primary-box-shadow;
	&, &.hidden {
		display: block;
	}
	@include breakpoint(M) {
		height: 100%;
		overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: fixed;
			right: 0;
			top: 0;
		width: $site-navigation-width;
		z-index: 100;
		box-shadow: none;
		&.hidden {
			right: -$site-navigation-width;
		}
		&:before {
			display: none;
		}
	}
}

$admin-bar-bp-medium: 782px;
$admin-bar-bp-small: 600px;
$admin-bar-height: 32px;
$admin-bar-height-medium: 46px;
.admin-bar {
	#navigation-toggle {
		top: $nav_toggle_top + $admin-bar-height;
	}
	@include breakpoint(M) {
		#navigation-wrapper {
			top: $admin-bar-height;
		}
	}
	@include breakpoint($admin-bar-bp-medium) {
		#navigation-toggle {
			top: $nav_toggle_top + $admin-bar-height-medium;
		}
		#navigation-wrapper {
			top: $admin-bar-height-medium;
		}
	}
	@include breakpoint($admin-bar-bp-small) {
		#navigation-toggle{
			top: $nav_toggle_top;
		}
		#navigation-wrapper {
			top: 0px;
		}
	}
	#wp-admin-bar-wpseo-menu {
		display: none !important;
	}
}

#navigation-menu {
	color: white;
	font-family: $theme-font-header;
	font-size: 1rem;
	padding: 0px 20px;
	text-align: center;
	text-transform: uppercase;
	@include flexbox();
	@include breakpoint(M) {
		padding: 0;
		text-align: left;
	}

	/* general list item style */

	li {
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			background-color: $menu-item-hover-color;
		}
		&.current-menu-ancestor,
		&.current-page-ancestor {
			@include breakpoint(M) {
				> .sub-menu-toggle {
					display: none;
				}
				> .sub-menu {
					display: block !important;
				}
			}
		}
		position: relative;
	}
	a, .sub-menu-toggle {
		color: white;
		display: block;
	}
	a {
		padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
	}
	.sub-menu-toggle {
		background-clip: padding-box;
		border: solid 5px transparent;
		border-radius: 50%;
		font-size: 1.4rem;
		line-height: 1;
		padding: 5px;
		position: absolute;
			top: 0px;
			right: 0px;
		display: none;
		@include icon( $icon-chevron-down, false );
		&.active {
			transform: rotateX(180deg);
		}
		&:hover {
			background-color: $menu-item-hover-color;
		}
		@include breakpoint(M) {
			display: block;
		}
	}
	.sub-menu {
		background-color: $menu-item-color;
		overflow: hidden;
		position: absolute;
			top: 100%;
			left: 0;
		width: 100%;
		word-wrap: break-word;
		z-index: -1;
		border-radius: 0 0 10px 10px;
		// Move the shadow 10 px down so that the submenu appears to belong to the menu tab.
		box-shadow: 0 10px 10px rgba(black, 0.25);
		opacity: 0;
		&.hidden {
			display: block;
		}
		> li:not(:first-child) {
			border-top: $menu-item-border;
		}
		@include breakpoint(M) {
			background-color: none;
			margin-left: 10px;
			position: relative;
			top: 0;
			width: calc(100% - 10px);
			z-index: 100;
			border-radius: 0px;
			box-shadow: none;
			opacity: 1;
			transform: translateY(0px);
			&.hidden:not(.current-menu-ancestor):not(.current-page-ancestor) {
				display: none;
			}
			> li:first-child {
				border-top: $menu-item-border;
			}
		}
	}

	/* first level list item style */

	> li {
		&:hover {
			background-color: $menu-item-color;
			box-shadow: $primary-box-shadow;
		}
		width: 12.5%;
		> .sub-menu {
			font-size: 0.875rem;
		}
		@include breakpoint(M) {
			width: 100%;
			border: none;
			border-bottom: $menu-item-border;
			box-shadow: none;
			&:hover {
				background-color: $menu-item-hover-color;
				box-shadow: none;
			}
		}
		> a {
			padding: ($primary-padding * 0.6) 0;
			position: relative;
			@include breakpoint(M) {
				padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
			}
			> span {
				position: absolute;
				left: 0;
				bottom: $primary-padding * 0.4;
				width: 100%;
				display: block;
				font-size: 0.7rem;
				margin-top: -5px;
				opacity: 0;
				transform: scale(0.9);
				@include breakpoint(M) {
					transform: scale(1);
					opacity: 0.5;
				}
				@include breakpoint(M) {
					display: none;
				}
			}
		}
		&[id^="menu-item-"] > a {
			@include icon("", true, false, 0.3em);
			&:before {
				color: darken(white, 20%);
			}
			@include breakpoint(M) {
				&:before { margin-right: 0.6em; }
			}
		}
		&:nth-child(1) > a { @include icon-content($icon-home); }
		&:nth-child(2) > a { @include icon-content($icon-news); }
		&:nth-child(3) > a { @include icon-content($icon-calendar); }
		&:nth-child(4) > a { @include icon-content($icon-shield); }
		&:nth-child(5) > a { @include icon-content($icon-users); }
		&:nth-child(6) > a { @include icon-content($icon-users); }
		&:nth-child(7) > a { @include icon-content($icon-heart); }
		&:nth-child(8) > a { @include icon-content($icon-network); }
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			> a {
				padding: ( $primary-padding * 0.32 ) 0 ( $primary-padding * 0.88 );
				@include breakpoint(M) {
					padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
				}
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		&:hover {
			> .sub-menu {
				transform: translateY(0px);
				opacity: 1;
				z-index: 100;
			}
		}
	}
}

.logged-in #navigation-menu > li:nth-child(8) > a {
	@include icon-content($icon-clipboard);
}

/* Login & Search */

#login-button,
#search-toggle,
#search-wrapper {
	top: -106px;
	position: absolute;
}

$search-color: darken(white, 30%);
$search-border: darken(white, 20%);
$search-bg: darken(white, 5%);
#login-button,
#search-toggle {
	background: $search-bg;
	border: solid 1px $search-border;
	color: $search-color;
	font-size: 1.25rem;
	padding: 6px;
	text-align: center;
	z-index: 100;
	&:hover {
		color: darken(white, 50%);
	}
	&.active {
		background: rgba($search-bg, 0);
	}
}

#login-button {
	right: 20px;
	@include icon($icon-user, false);
}

body.logged-in #login-button {
	&:before {
		margin-left: 1px;
		margin-right: -1px;
	}
	@include icon-content($icon-log-out);
}

#search-toggle,
#search-wrapper {
	right: 64px;
}

#search-toggle {
	@include icon($icon-magnifying-glass, false);
	&.active {
		@include icon-content($icon-cross);
	}
	&:hover + #search-wrapper #s {
		background: darken(white, 2.5%);
	}
}

#search-wrapper {
	z-index: 99;
	#s {
		background: $search-bg;
		border-color: $search-bg;
		border-radius: calc(6px + 1.25rem);
		display: block;
		height: calc(14px + 1.25rem);
		opacity: 1;
		padding: 5px 10px;
		width: 256px;
		z-index: inherit;
		&:hover {
			background: darken(white, 2.5%);
		}
		&:focus {
			border-color: $search-border;
		}
	}
	#search-submit {
		display: none;
	}
	&.hidden {
		display: block;
		#s {
			opacity: 0;
			width: 128px;
			z-index: -1;
		}
	}
}

@include breakpoint(M) {
	#login-button,
	#search-toggle,
	#search-wrapper {
		position: static;
	}
	#navigation-wrapper .inside {
		@include flexbox();
	}
	#search-toggle {
		display: none;
	}
	#search-wrapper #s,
	#login-button {
		border-radius: 3px;
	}
	#search-wrapper {
		padding: 3px;
		width: calc(100% - 1.5rem - 15px);
		#s {
			height: auto;
			padding: 7px 10px;
		}
		&.hidden {
			#s {
				opacity: 1;
				width: 100%;
			}
		}
	}
	#login-button {
		margin: 3px 3px 3px 0px;
		width: calc(1.5rem + 12px);
	}
	#navigation-menu {
		width: 100%;
	}
}

/* Menu module */

.menu-module,
.widget_categories,
.widget_archive {
	background: darken(white, 10%);
	> p, a {
		display: block;
		height: 100%;
		padding: 0.2em $primary-padding;
		text-align: center;
		font-weight: bold;
	}
	a {
		&:hover {
			background: rgba(black, 0.1);
		}
		&.prev { text-align: left; }
		&.next { text-align: right; }
	}
}

.menu-module > ul,
.widget_categories > ul,
.widget_archive > ul,
.paging-nav {
	margin: 0;
	overflow: hidden;
	padding: 0 ($primary-padding * 0.8);
	text-align: center;
	> li {
		display: inline-block;
		> a {
			color: $theme-color;
			padding: 0.2em ($primary-padding * 0.2);
			display: inline-block;
		}
		&.active, &.current-cat {
			a {
				background: $theme-color;
				color: white;
			}
		}
	}
}

.block-menu,
.customMetaWidget > ul {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	text-align: left !important;
	> li {
		display: block !important;
		> a {
			width: 100% !important;
			text-align: left !important;
		}
	}
}