$site-navigation-width: 220px;
$menu-item-color: lighten($theme-color, 10%);
$menu-item-border: solid 1px lighten($theme-color, 5%);
$menu-item-hover-color: rgba($theme-color, 0.5);

.menu {
	list-style: none;
	margin: 0;
	position: relative;
	&:not(#navigation-menu) {
		padding: 0;
	}
}

#navigation-toggle,
#back-to-top {
	background: $menu-item-color;
	color: white;
	display: block;
	font-weight: bold;
	font-size: 1.75rem;
	line-height: 1rem;
	padding: 10px;
	position: fixed;
	right: 20px;
	z-index: 100;
	@include border-radius(50%);
	@include box-shadow($primary-box-shadow);
	&:hover {
		background: $theme-color;
	}
	@include breakpoint(M) {
		&.active {
			right: $site-navigation-width + 10px;
		}
	}
	@include breakpoint(XS) {
		right: 10px;
	}
}

$nav_toggle_top: 20px;

#navigation-toggle {
	display: none;
	top: $nav_toggle_top;
	@include icon($icon-menu, false);
	&.active {
		@include icon-content($icon-cross);
	}
	@include breakpoint(M) {
		display: block;
	}
}

#back-to-top {
	bottom: 20px;
	@include icon($icon-chevron-up, false);
	@include opacity(1);
	@include transform( scale(1) );
	&.hidden {
		z-index: -1;
		@include opacity(0);
		@include transform( scale(0.5) );
	}
}

/* Navigation menu */

#navigation-wrapper {
	background-color: lighten(black, 30%);
	@include box-shadow($primary-box-shadow);
	&, &.hidden {
		display: block;
	}
	@include breakpoint(M) {
		height: 100%;
		overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: fixed;
			right: 0;
			top: 0;
		width: $site-navigation-width;
		z-index: 100;
		@include box-shadow(none);
		&.hidden {
			right: -$site-navigation-width;
		}
		&:before {
			display: none;
		}
	}
}

$admin-bar-bp-medium: 782px;
$admin-bar-bp-small: 600px;
$admin-bar-height: 32px;
$admin-bar-height-medium: 46px;
.admin-bar {
	#navigation-toggle {
		top: $nav_toggle_top + $admin-bar-height;
	}
	@include breakpoint(M) {
		#navigation-wrapper {
			top: $admin-bar-height;
		}
	}
	@include breakpoint($admin-bar-bp-medium) {
		#navigation-toggle {
			top: $nav_toggle_top + $admin-bar-height-medium;
		}
		#navigation-wrapper {
			top: $admin-bar-height-medium;
		}
	}
	@include breakpoint($admin-bar-bp-small) {
		#navigation-toggle{
			top: $nav_toggle_top;
		}
		#navigation-wrapper {
			top: 0px;
		}
	}
	#wp-admin-bar-wpseo-menu {
		display: none !important;
	}
}

#navigation-menu {
	color: white;
	font-family: $theme-font-header;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	@include flexbox($width: 12.5%);
	@include breakpoint(M) {
		padding: 0 !important;
		text-align: left;
	}
	
	&.grid {
		padding-right: 20px;
	}

	/* general list item style */

	li {
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor {
			background-color: $menu-item-hover-color;
		}
		&.current-menu-ancestor {
			@include breakpoint(M) {
				> .sub-menu-toggle {
					display: none;
				}
				> .sub-menu {
					display: block !important;
				}
			}
		}
		position: relative;
	}
	a, .sub-menu-toggle {
		color: white;
		display: block;
	}
	a {
		padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
	}
	.sub-menu-toggle {
		font-size: 1.4rem;
		line-height: 1;
		padding: 5px;
		position: absolute;
			top: 5px;
			right: 5px;
		display: none;
		@include border-radius(50%);
		@include icon( $icon-chevron-down, false );
		&.active {
			@include transform(rotateX(180deg));
		}
		&:hover {
			background-color: $menu-item-hover-color;
		}
		@include breakpoint(M) {
			display: block;
		}
	}
	.sub-menu {
		background-color: lighten($theme-color, 10%);
		overflow: hidden;
		position: absolute;
			top: 100%;
			left: 0;
		width: 100%;
		word-wrap: break-word;
		z-index: -1;
		@include border-radius(0 0 10px 10px);
		@include box-shadow($primary-box-shadow);
		@include opacity(0);
		@include transform(translateY(-10px));
		&.hidden {
			display: block;
		}
		> li:not(:first-child) {
			border-top: $menu-item-border;
		}
		@include breakpoint(M) {
			background-color: none;
			margin-left: 10px;
			position: relative;
			top: 0;
			width: calc(100% - 10px);
			z-index: 100;
			@include border-radius(0px);
			@include box-shadow(none);
			@include opacity(1);
			@include transform(translateY(0px));
			&.hidden:not(.current-menu-ancestor) {
				display: none;
			}
			> li:first-child {
				border-top: $menu-item-border;
			}
		}
	}

	/* first level list item style */

	> li {
		> .sub-menu {
			font-size: 0.875em;
		}
		@include breakpoint(M) {
			width: 100%;
			border: none;
			border-bottom: $menu-item-border;
		}
		> a {
			padding: ($primary-padding * 0.6) 0;
			position: relative;
			@include breakpoint(M) {
				padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
			}
			> span {
				position: absolute;
				left: 0;
				bottom: $primary-padding * 0.4;
				width: 100%;
				display: block;
				font-size: 0.7rem;
				margin-top: -5px;
				@include opacity(0);
				@include scale(0.9);
				@include breakpoint(M) {
					@include scale(1);
					@include opacity(0.5);
				}
				@include breakpoint(M) {
					display: none;
				}
			}
		}
		&[id^="menu-item-"] > a {
			@include icon("", true, false, 0.3em);
			@include breakpoint(M) {
				&:before { margin-right: 0.6em; }
			}
		}
		&:nth-child(1) > a { @include icon-content($icon-home); }
		&:nth-child(2) > a { @include icon-content($icon-news); }
		&:nth-child(3) > a { @include icon-content($icon-calendar); }
		&:nth-child(4) > a { @include icon-content($icon-v-card); }
		&:nth-child(5) > a { @include icon-content($icon-users); }
		&:nth-child(6) > a { @include icon-content($icon-users); }
		&:nth-child(7) > a { @include icon-content($icon-shop); }
		&:nth-child(8) > a { @include icon-content($icon-login); }
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor {
			> a {
				padding: ( $primary-padding * 0.32 ) 0 ( $primary-padding * 0.88 );
				@include breakpoint(M) {
					padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
				}
				span {
					@include opacity(1);
					@include scale(1);
				}
			}
		}
		&:hover {
			> .sub-menu {
				@include transform(translateY(0px));
				@include opacity(1);
				z-index: 100;
			}
		}
	}
}

.logged-in #navigation-menu > li:nth-child(8) > a {
	@include icon-content($icon-clipboard);
}

/* Menu module */

.menu-module,
.widget_categories,
.widget_archive {
	background: darken(white, 10%);
	> p, a {
		display: block;
		height: 100%;
		padding: 0.2em $primary-padding;
		text-align: center;
		font-weight: bold;
	}
	a {
		&:hover {
			background: rgba(black, 0.1);
		}
		&.prev { text-align: left; }
		&.next { text-align: right; }
	}
}

.menu-module > ul,
.widget_categories > ul,
.widget_archive > ul,
.paging-nav {
	margin: 0;
	overflow: hidden;
	padding: 0 ($primary-padding * 0.8);
	text-align: center;
	> li {
		display: inline-block;
		> a {
			color: $theme-color;
			padding: 0.2em ($primary-padding * 0.2);
			display: inline-block;
		}
		&.active, &.current-cat {
			a {
				background: $theme-color;
				color: white;
			}
		}
	}
}

.block-menu,
.customMetaWidget > ul {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	text-align: left !important;
	> li {
		display: block !important;
		> a {
			width: 100% !important;
			text-align: left !important;
		}
	}
}