* {
	&, &:before, &:after {
		@include box-sizing(border-box);
	}
	&:not(html):not(body) {
		@include transition(all 0.3s ease-out 0.0s);
		&:hover {
			@include transition(all 0.1s ease-in 0.0s);
		}
	}
}

.pswp,
.em-location-map-container,
.flxmap-container {
	&, & * {
		@include transition(none !important);
	}
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	@include background-clip(padding);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

html, body {
	position: static;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
	color: $theme-color;
	font-family: $theme-font;
	font-size: calc(16px + 0.15vw);
	font-weight: $primary-font-weight;
	line-height: $primary-line-height;
}

body {
	background-color: $background-color;
}

a {
	color: $theme-color-green;
	text-decoration: none;
	&:focus {
		outline: 0;
	}
	&:hover, &:active {
		outline: 0;
		color: darken($theme-color-green, 10%);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: Verdana, Corbert, sans-serif;
	font-weight: $primary-font-weight + 300;
	line-height: $primary-line-height * 0.7;
	margin: ($primary-text-tag-margin * 3) 0 $primary-text-tag-margin;
	&:first-child {
		margin-top: 0;
	}
}

h1 { font-size: 1.625rem; }
h2 { font-size: 1.500rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.250rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1.000rem; }

address {
	font-style: italic;
	margin-bottom: 1.5rem;
}

abbr[title] {
	border-bottom: 1px dotted $theme-color;
	cursor: help;
}

b,
strong {
	font-weight: $primary-font-weight + 300;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

p {
	margin-bottom: $primary-text-tag-margin;
	&:last-child {
		margin-bottom: 0;
	}
	&:empty {
		display: none !important;
	}
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: round(0.95em);
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: $primary-line-height * 1.1;
}

pre {
	border: 1px solid rgba(black, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 20px;
	max-width: 100%;
	overflow: auto;
	padding: 10px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
	&:before, &:after {
		content: "";
		content: none;
	}
}

blockquote {
	border-top: solid 1px lighten(black, 40%);
	border-bottom: solid 1px lighten(black, 40%);
	color: lighten(black, 40%);
	font-size: 1.25rem;
	font-style: italic;
	font-weight: $primary-font-weight - 100;
	line-height: $primary-line-height * 0.85;
	margin-bottom: 20px;
	padding: ($primary-padding * 0.4) 0;
	cite, small {
		display: block;
		font-size: 0.75rem;
		font-weight: $primary-font-weight;
		line-height: $primary-line-height;
		margin-top: 10px;
		text-align: right;
		text-transform: uppercase;
	}
	em, i, cite {
		font-style: normal;
	}
	strong, b {
		font-weight: $primary-font-weight;
	}
	p {
		text-align: left !important;
	}
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 20px;
}

ul,
ol {
	margin: 0 0 20px 40px;
}

ul {
	list-style: disc;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid rgba(black, 0.1);
	margin: 0 0 20px;
	padding: 10px 10px 0;
}

legend {
	white-space: normal;
}

button,
input,
select,
textarea {
	@include box-sizing(border-box);
	border: none;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	outline: none;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table,
th,
td {
	border: 1px solid darken(white, 10%);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	width: 100%;
	max-width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	background: darken(white, 10%);
	font-weight: bold;
}

th, td {
	overflow: hidden;
	padding: $primary-padding * 0.4 $primary-padding * 0.6;
	text-overflow: ellipsis;
}

del {
	color: #767676;
}

$line-color: lighten(black, 60%);
$line-gradient: 2 * $primary-margin;
hr {
	border: 0;
	height: 1px;
	margin: 36px 0px;
	background-image: linear-gradient(
		to right,
		rgba($line-color, 0) 0%,
		$line-color $line-gradient,
		$line-color calc(100% - #{$line-gradient}),
		rgba($line-color, 0) 100%);
}

::selection {
	background: $theme-color-green;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background: $theme-color-green;
	color: white;
	text-shadow: none;
}