* {
	&, &:before, &:after {
		@include box-sizing(border-box);
	}
	&:not(html):not(body):not([class^="ps-"]) {
		@include transition(all 0.3s ease-out 0.0s);
		&:hover {
			@include transition(all 0.1s ease-in 0.0s);
		}
	}
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y70bgd');
	src:url('fonts/icomoon.eot?y70bgd#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff?y70bgd') format('woff'),
		url('fonts/icomoon.ttf?y70bgd') format('truetype'),
		url('fonts/icomoon.svg?y70bgd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
[class^="post-meta-"]:before, .sitemap-meta > *:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before { content: "\e900"; }
.icon-chevron-left:before { content: "\e901"; }
.icon-chevron-right:before { content: "\e902"; }
.icon-chevron-up:before { content: "\e903"; }
.icon-controller-play:before { content: "\e904"; }
.icon-download:before { content: "\e905"; }
.icon-browser:before { content: "\e906"; }
.icon-calendar:before { content: "\e907"; }
.icon-circular-graph:before { content: "\e908"; }
.icon-clipboard:before { content: "\e909"; }
.icon-clock:before { content: "\e90a"; }
.icon-cross:before { content: "\e90b"; }
.icon-export:before { content: "\e90c"; }
.icon-folder:before { content: "\e90d"; }
.icon-gauge:before { content: "\e90e"; }
.icon-home:before { content: "\e90f"; }
.icon-images:before { content: "\e910"; }
.icon-link:before { content: "\e911"; }
.icon-location:before { content: "\e912"; }
.icon-log-out:before { content: "\e913"; }
.icon-login:before { content: "\e914"; }
.icon-mail:before { content: "\e915"; }
.icon-menu:before { content: "\e916"; }
.icon-message:before { content: "\e917"; }
.icon-mobile:before { content: "\e918"; }
.icon-news:before { content: "\e919"; }
.icon-pencil:before { content: "\e91a"; }
.icon-phone:before { content: "\e91b"; }
.icon-shopping-cart:before { content: "\e91c"; }
.icon-user:before { content: "\e91d"; }
.icon-users:before { content: "\e91e"; }
.icon-v-card:before { content: "\e91f"; }


$icon-chevron-down: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-chevron-up: "\e903";
$icon-controller-play: "\e904";
$icon-download: "\e905";
$icon-browser: "\e906";
$icon-calendar: "\e907";
$icon-circular-graph: "\e908";
$icon-clipboard: "\e909";
$icon-clock: "\e90a";
$icon-cross: "\e90b";
$icon-export: "\e90c";
$icon-folder: "\e90d";
$icon-gauge: "\e90e";
$icon-home: "\e90f";
$icon-images: "\e910";
$icon-link: "\e911";
$icon-location: "\e912";
$icon-log-out: "\e913";
$icon-login: "\e914";
$icon-mail: "\e915";
$icon-menu: "\e916";
$icon-message: "\e917";
$icon-mobile: "\e918";
$icon-news: "\e919";
$icon-pencil: "\e91a";
$icon-phone: "\e91b";
$icon-shopping-cart: "\e91c";
$icon-user: "\e91d";
$icon-users: "\e91e";
$icon-v-card: "\e91f";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	@include background-clip(padding);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

html, body { position: static; }

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
	color: $primary-color;
	font-family: "Lato", sans-serif;
	font-size: $font-size;
	font-weight: $primary-font-weight;
	line-height: $primary-line-height;
}

body {
	background-color: $background-color;
}

a {
	color: $secondary-color;
	text-decoration: none;
	&:focus {
		outline: 0;
	}
	&:hover, &:active {
		outline: 0;
		color: darken($secondary-color, 10%);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: $primary-font-weight + 300;
	margin: ($primary-text-tag-margin * 3) 0 $primary-text-tag-margin;
	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 1.625em;
	line-height: $primary-line-height * 0.7;
}

h2 {
	font-size: 1.500em;
	line-height: $primary-line-height * 0.7;
}

h3 {
	font-size: 1.375em;
	line-height: $primary-line-height * 0.7;
}

h4 {
	font-size: 1.250em;
	line-height: $primary-line-height * 0.7;
}

h5 {
	font-size: 1.125em;
	line-height: $primary-line-height * 0.7;
}

h6 {
	font-size: 1.000em;
	line-height: $primary-line-height * 1.0;
}

address {
	font-style: italic;
	margin-bottom: 1.5em;
}

abbr[title] {
	border-bottom: 1px dotted $primary-color;
	cursor: help;
}

b,
strong {
	font-weight: $primary-font-weight + 300;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

p {
	margin-bottom: $primary-text-tag-margin;
	&:last-child {
		margin-bottom: 0;
	}
	&:empty {
		display: none !important;
	}
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: round(0.95em);
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: $primary-line-height * 1.1;
}

pre {
	border: 1px solid rgba(black, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: $font-size * 1.5;
	max-width: 100%;
	overflow: auto;
	padding: $font-size * 0.75;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
	&:before, &:after {
		content: "";
		content: none;
	}
}

blockquote {
	border-top: solid 1px lighten(black, 40%);
	border-bottom: solid 1px lighten(black, 40%);
	color: lighten(black, 40%);
	font-size: 1.25em;
	font-style: italic;
	font-weight: $primary-font-weight - 100;
	line-height: $primary-line-height * 0.85;
	margin-bottom: $font-size * 1.5;
	padding: ($primary-padding * 0.4) 0;
	cite, small {
		display: block;
		font-size: 0.5em;
		font-weight: $primary-font-weight;
		line-height: $primary-line-height;
		text-align: right;
		text-transform: uppercase;
	}
	em, i, cite {
		font-style: normal;
	}
	strong, b {
		font-weight: $primary-font-weight;
	}
	p {
		text-align: left !important;
	}
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: $font-size * 1.5;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: $font-size * 1.5;
}

ul,
ol {
	list-style: none;
	margin: 0 0 ($font-size * 1.5) ($font-size * 1.25);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 ($font-size * 1.25);
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid rgba(black, 0.1);
	margin: 0 0 ($font-size * 1.5);
	padding: ($font-size * 0.6875) ($font-size * 0.75) 0;
}

legend {
	white-space: normal;
}

button,
input,
select,
textarea {
	@include box-sizing(border-box);
	border: none;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	outline: none;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table,
th,
td {
	border: 1px solid rgba(black, 0.1);
}

table {
	border-left: none;
	border-right: none;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: ($font-size * 1.5);
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}

td {
	border-width: 0 1px 1px 0;
	padding: $primary-padding * 0.6;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		border-right: none;
		padding-right: 0;
	}
}

del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: ($font-size * 1.4375);
}

::selection {
	background: $secondary-color;
	color: white;
	text-shadow: none;
}

::-moz-selection {
	background: $secondary-color;
	color: white;
	text-shadow: none;
}