@import "_toggle.scss";

.justify {
	text-align: justify;
	hyphens: auto;
}

/**
 * Links
 */

.link {
	border-bottom: solid 1px transparent;
	color: $theme-color;
	&:before {
		border-radius: 50%;
	}
	&:hover, &:active {
		border-color: $theme-color;
		color: $theme-color;
	}
}

/**
 * Inputs
 */

input:not([type="file"]),
select,
textarea {
	background: darken(white, 5%);
	border: 1px solid darken(white, 10%);
	&:not([type="radio"]):not([type="checkbox"]) {
		-webkit-appearance: none;
	}
	&:hover, &:focus, &:active {
		background: white;
	}
	&:focus, &:active {
		border: 1px solid darken(white, 20%);
		outline: 0;
	}
	&:disabled {
		cursor: default;
	}
}

input:not([type="file"]):not([type="radio"]):not([type="checkbox"]),
select,
select > option,
textarea {
	padding: 7px 10px;
}

input:not([type="file"]):not([type="radio"]),
textarea,
label {
	border-radius: $primary-border-radius;
}

.gm-style button {
	border-radius: 0;
}

input[type="date"] {
	min-height: calc(1.25rem + 14px);
}

textarea {
	width: 100%;
}

input[type="checkbox"] {
	margin-right: 5px;
}

select,
.toggle {
	cursor: pointer;
}

/* Tables */
table.transparent {
	&, td, th {
		border: none;
	}
	td, th {
		padding: 0 10px 10px 0;
	}
}

/**
 * Buttons within modules (to exclude header and footer)
 */

.module {
	button:not([draggable="false"]),
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.subscription-toggle {
		background-color: $theme-color-green !important;
		border: 0 !important;
		border-radius: $primary-border-radius;
		box-shadow: $tertiary-box-shadow;
		color: white;
		cursor: pointer;
		display: block;
		margin: 0 auto;
		padding: 10px 15px;
		// max-width: 50%;
		&:not([data-meta]):not(.download-link) {
			line-height: $primary-line-height * 1.1;
			font-weight: $primary-font-weight + 300;
			text-align: center;
		}
		&:hover, &:focus, &:active, &.active {
			color: white;
			background-color: darken($theme-color-green, 10%) !important;
		}
		&:disabled {
			background-color: darken(white, 20%) !important;
		}
	}
	
	.button {
		&:after {
			display: block;
			font-size: 0.75em;
			font-weight: 400;
		}
		&[data-meta]:after {
			content: attr(data-meta);
		}
		&.link-button {
			font-weight: normal;
			text-align: left;
			@include icon($icon-link);
		}
	}
}

/* Responsive images. Fluid images for posts, comments, and widgets */

.comment-content img,
.post-content img,
.post-summary img,
#page-header img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with -added height and width attributes are scaled correctly. */

.comment-content img[height],
.post-content img,
.post-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#page-header img {
	height: auto;
}

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
	margin-bottom: 1.5rem;
	max-width: 100%;
}

p,
span{
	> embed,
	> iframe,
	> object {
		margin-bottom: 0;
	}
}

/**
 * Alignment
 */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote,
img,
.wp-caption {
	&.alignleft {
		margin-right: $primary-padding;
	}
	&.alignright {
		margin-left: $primary-padding;
	}
	&.alignleft,
	&.alignright {
		min-width: 50% !important;
		max-width: 50% !important;
		z-index: 1;
		@include breakpoint(XS) {
			display: block;
			float: none;
			max-width: 100% !important;
			margin-right: 0;
			margin-left: 0;
		}
	}
}

.site-content blockquote {
	.alignleft, .alignright {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 17px;
		width: 50% !important;
		p {
			margin-bottom: 17px;
		}
	}
}

.wp-caption {
	color: #767676;
	margin-bottom: 24px;
	img[class*="wp-image-"] {
		display: block;
		margin: 0;
	}
}

.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
}

.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/**
 * Assistive text
 */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		line-height: normal;
		padding: 15px 23px 14px;
		position: absolute;
		left: 5px;
		top: 5px;
		text-decoration: none;
		text-transform: none;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.padded {
	padding: $primary-padding;
}

.unpadded {
	padding: 0;
}

/**
 * Clearing floats
 */

.clear {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}