article.hentry, article.post {
	> *:not(.post-thumbnail) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.related-posts {
	article.hentry, article.post {
		> *:not(.post-thumbnail) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.post-thumbnail {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	> img {
		position: static !important;
	}
}

a.post-thumbnail, a > .post-thumbnail {
	position: relative;
	&:before {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		content: '';
		box-shadow: inset 0px 0px 0px 0px rgba(white, 0.75);
		transition: all 0.3s ease-out 0.0s;
	}
	&:hover {
		&:before {
			box-shadow: inset 0px 0px 0px 10px rgba(white, 0.75);
			transition: all 0.1s ease-in 0.0s;
		}
	}
}

.post-sub-thumbnail {
	position: absolute;
	right: 20px;
	bottom: 20px;
	max-width: 40%;
}

.post-header {
	padding-top: $padding;
	font-family: $theme-font-header;
}

.post-subtitle {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: $primary-text-tag-margin;
}

.post-title, .sitemap-table {
	margin-top: 0;
	> a {
		&:hover {
			color: $theme-color-green;
		}
	}
}

.post-subtitle,
.post-meta,
.comment-metadata {
	span {
		&, a {
			color: lighten($theme-color, 50%);
		}
		font-size: 0.875em;
		text-transform: uppercase;
	}
}

.post-meta {
	font-family: $theme-font;
	margin-bottom: $primary-text-tag-margin;
	> span { 
		margin-right: 8px;
		&:before {
			margin-right: 4px;
		}
		@include breakpoint(XXS) {
			display: block;
		}
	}
}

.post-meta-category:before { content: $icon-folder; }
.post-meta-date:before { content: $icon-calendar; }
.post-meta-time:before { content: $icon-clock; }
.post-meta-author:before { content: $icon-user; }
.post-meta-comments:before { content: $icon-message; }
.post-meta-location:before { content: $icon-location; }
.post-meta-edit:before { content: $icon-new-message; }
.post-meta-export:before { content: $icon-export; }

.post-content,
.post-summary,
.sitemap {
	padding-bottom: $padding;
	p {
		@include hyphenation();
		text-align: justify;
	}
}

.post-content,
.post-summary,
.sitemap {
	table {
		table-layout: fixed;
	}
}

table {
	@include breakpoint(XS) {
		@for $i from 1 through 10 {
			&.hide-xs-col-#{$i} {
				th, td {
					&:nth-child(#{$i}) { display: none; }
				}
			}
		}
	}
	@include breakpoint(XXS) {
		@for $i from 1 through 10 {
			&.hide-xxs-col-#{$i} {
				th, td {
					&:nth-child(#{$i}) { display: none; }
				}
			}
		}
	}
}

.read-more, .more-link {
	color: darken($theme-color-green, 10%);
	display: block;
	font-size: 0.875rem;
	margin-top: $primary-text-tag-margin;
	text-align: center;
	text-transform: uppercase;
	&:hover {
		color: $theme-color-green;
	}
}

.format-standard .post-content {
	@include columns(2);
	@include column-gap($padding);
	@include breakpoint(XS) {
		@include columns(1);
	}
}

.jp-sharing-input-touch .sd-content ul li {
	padding-left: 0 !important;
}


.post-meta [class*="grid-"] {
	margin-bottom: $primary-margin;
}

/**
 * Tags
 */

.tags-list {
	a {
		background: darken(white, 10%);
		border: solid 1px darken(white, 15%);
		color: $theme-color;
		display: inline-block;
		margin: 0 10px 10px 0;
		padding: 7px 12px;
		border-radius: 10px;
		&:before {
			content: "#";
			text-shadow: 0 0 0px white;
		}
		&:hover {
			background: $theme-color;
			border-color: $theme-color;
			color: white;
			&:before {
				font-weight: bold;
				text-shadow: 0 0 2px white;
			}
		}
	}
}

.related-posts {
	.post-summary {
		color: lighten($theme-color, 40%);
		font-size: 0.8rem;
	}
	.more-link,
	.sharedaddy {
		display: none;
	}
}

.yarpp-related { margin: 0 !important; }

.post-preview {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	.post-meta {
		margin: 0;
		padding: 0.5rem 20px;
		width: 100%;
		span {
			color: $theme-color;
			display: block;
			font-weight: normal;
			line-height: 1;
			margin: 0;
			text-align: center;
			text-transform: none;
		}
		.post-title {
			font-size: 1.5rem;
		}
		.post-subtitle {
			font-size: 1rem;
		}
		&:hover span {
			color: $theme-color-green;
		}
	}
	.post-thumbnail {
		margin-bottom: 0;
		&:not(:empty) {
			position: static;
			& + .post-meta {
				max-height: 100%;
				position: absolute;
					bottom: 0px;
					left: 0px;
			}
		}
	}
	.post-thumbnail:not(:empty) + .post-meta { 
		background: rgba($theme-color, 0.75);
		border-top: 1px solid rgba(white, 0.75);
		span {
			color: white;
		}
	}
	&:hover {
		.post-thumbnail:not(:empty) + .post-meta {
			background: rgba(white, 0.9);
			border-color: rgba(white, 0);
			span {
				color: $theme-color;
			}
		}
	}
}

@include darkmode() {
	a.post-thumbnail, a > .post-thumbnail {
		&:before {
			box-shadow: inset 0px 0px 0px 0px rgba(black, 0.5);
		}
		&:hover:before {
			box-shadow: inset 0px 0px 0px 10px rgba(black, 0.5);
		}
	}
}