/**
 * Page
 */

#page {
	padding-top: 20px;
}

#page-header,
#page-main,
#page-footer {
	@include clearfix();
}

#page-main {
	margin-top: 30px !important;
	@include breakpoint(L) {
		margin-top: 20px !important;
	}
}

.inside {
	margin: 0 auto !important;
	max-width: 1920px - 180px;
}

#content {
	> br { display: none !important; }
}

$module-title-height: 1.9rem;
.box {
	background: white;
	margin-bottom: 30px !important;
	overflow: hidden;
	position: relative;
	box-shadow: $shadow;
	&[data-heading] {
		padding-top: $module-title-height;
		&.padded {
			padding-top: calc(#{$module-title-height} + #{$padding});
		}
	}
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: 0;
	}
	@include breakpoint(L) {
		margin-bottom: 20px !important;
	}
	> *::last-child {
		margin-bottom: 0;
	}
}

.box[data-heading]:before {
	background: lighten(black, 30%);
	color: white;
	content: attr(data-heading);
	font-family: $theme-font-header;
	font-size: 0.9rem;
	left: 0;
	line-height: 1;
	padding: 0.5rem $padding;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 1;
}

.box {
	p, ol, ul, label, tbody {
		a:not(.button):not(.read-more):not(.more-link) {
			text-decoration: underline;
			text-decoration-color: $theme-color-green;
			&:hover {
				color: $theme-color-green;
			}
		}
	}
}

/**
 * Grid
 */

.grid {
	padding-right: 0px;
	padding-left: 30px;
	@include breakpoint(L) {
		padding-left: 20px;
	}
	@include breakpoint(XS) {
		padding-left: 10px;
	}
	@include breakpoint(XXS) {
		padding-left: 0px;
	}
	@include flexbox($width: 100%, $align: flex-start);
	> br {
		display: none;
	}
	> .grid {
		padding-left: 0px !important;
	}
	&:not(.menu) > *:not(.grid) {
		padding-right: 30px;
		@include breakpoint(L) {
			padding-right: 20px;
		}
		@include breakpoint(XS) {
			padding-right: 10px;
		}
		@include breakpoint(XXS) {
			padding-right: 0px;
		}
	}
}

.box .grid {
	margin-left: -25px;
	margin-right: -25px;
}

.box.unpadded .grid {
	padding-right: 0px !important;
	padding-left: 25px !important;
	align-items: stretch;
	> *:not(.grid) {
		padding-right: 25px;
		padding-bottom: 25px;
	}
}


[class*="grid-"] > *:last-child {
	margin-bottom: 0;
}

.grid-1-5 { width: calc(100% * 1/5); }
.grid-1-4 { width: calc(100% * 1/4); }
.grid-1-3 { width: calc(100% * 1/3); }
.grid-1-2 { width: calc(100% * 1/2); }
.grid-2-3 { width: calc(100% * 2/3); }
.grid-3-4 { width: calc(100% * 3/4); }
.grid-4-5 { width: calc(100% * 4/5); }
.grid-5-6 { width: calc(100% * 5/6); }
.grid-8-9 { width: calc(100% * 8/9); }
.grid-1-1 {	width: calc(100% * 1/1); }

.box {
	.alignleft {
		padding-right: 25px;
	}
	.alignright {
		padding-left: 25px;
	}
}

@include breakpoint(S) {
	.grid-1-4 {	width: calc(100% * 1/3); }
	.grid-1-2 {	width: calc(100% * 2/3);
		> .grid-1-2 { width: calc(100% * 1/2); } }
	.grid-2-3 {
		> .grid-1-2 { width: calc(100% * 1/2); }	}
	.grid-3-4 {	width: calc(100% * 1/1); }
	.sidebar.grid-1-4 {
		width: calc(100% * 1/1);
		> .grid-1-1 { width: calc(100% * 1/3); }
	}
}
@include breakpoint(XS) {
	.grid-1-5 {	width: calc(100% * 1/3); }
	.grid-1-4 {	width: calc(100% * 1/1);
		> .grid-1-1 { width: calc(100% * 1/2); } }
	.grid-1-3 {	width: calc(100% * 1/2); }
	.grid-1-2 {	width: calc(100% * 1/1); }
	.grid-2-3 {
		~ .grid-1-3 { width: calc(100% * 1/1); } }
	.grid-3-4 {
		.grid-2-3 { width: calc(100% * 1/1); }
		.grid-1-4 {	width: calc(100% * 1/2);	} }
	.sidebar.grid-1-4 {
		> .grid-1-1 { width: calc(100% * 1/2); } }
}
@include breakpoint(XXS) {
	.grid-3-4.group {
		.grid-1-4 {	width: calc(100% * 1/2) !important; } }
	.grid-1-5 { width: calc(100% * 1/2); }
	.grid-1-3 { width: calc(100% * 1/1); }
	.grid {
		padding-left: 0px !important;
	}
	[class*="grid-"] {
		width: 100% !important;
		padding-right: 0px;
	}
}

@include darkmode() {
    .box {
        background: lighten(black, 15%);

        &[data-heading]:not([data-heading=""]) {
            &:before {
                background: lighten(black, 10%);
                color: white;
            }
        }
    }
}
