$primary-font-weight: 400;
$primary-line-height: 1.5;
$primary-text-tag-margin: 12px;

$theme-font: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$theme-font-header: "Source Sans Pro", sans-serif;
$theme-color: lighten(black, 20%);
$theme-color-green: #97BF0D; /* rgb(151, 191,  13) */
$tertiary-color: #229F00; /* rgb( 34, 159,   0) */
$theme-color-2: #bf350d;
$theme-color-3: #0d97bf;
$theme-color-4: #350dbf;

$button-option-color: lighten($theme-color, 20%);
$button-option-color-active: lighten($theme-color, 40%);
$button-option-color-checked: $theme-color-green;

$color-background-hover: lighten(black, 90%);
$background_stripe: rgba(white, 0.2);
$background-color: #f8f8ff;

$primary-margin: 20px;
$padding: 2rem;
$secondary-padding: 1rem;

$primary-border-radius: 5px;
$secondary-border-radius: 3px;

$shadow: 0 0 10px rgba(black, 0.25);
$small-shadow: 0 0 5px rgba(black, 0.25);
