@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?y70bgd");
  src: url("fonts/icomoon.eot?y70bgd#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?y70bgd") format("truetype"), url("fonts/icomoon.woff?y70bgd") format("woff"), url("fonts/icomoon.svg?y70bgd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e900"; }

.icon-chevron-left:before {
  content: "\e901"; }

.icon-chevron-right:before {
  content: "\e902"; }

.icon-chevron-up:before {
  content: "\e903"; }

.icon-controller-play:before {
  content: "\e904"; }

.icon-download:before {
  content: "\e905"; }

.icon-browser:before {
  content: "\e906"; }

.icon-calendar:before {
  content: "\e907"; }

.icon-circular-graph:before {
  content: "\e908"; }

.icon-clipboard:before {
  content: "\e909"; }

.icon-clock:before {
  content: "\e90a"; }

.icon-cross:before {
  content: "\e90b"; }

.icon-export:before {
  content: "\e90c"; }

.icon-folder:before {
  content: "\e90d"; }

.icon-gauge:before {
  content: "\e90e"; }

.icon-home:before {
  content: "\e90f"; }

.icon-images:before {
  content: "\e910"; }

.icon-link:before {
  content: "\e911"; }

.icon-location:before {
  content: "\e912"; }

.icon-log-out:before {
  content: "\e913"; }

.icon-login:before {
  content: "\e914"; }

.icon-mail:before {
  content: "\e915"; }

.icon-menu:before {
  content: "\e916"; }

.icon-message:before {
  content: "\e917"; }

.icon-mobile:before {
  content: "\e918"; }

.icon-news:before {
  content: "\e919"; }

.icon-pencil:before {
  content: "\e91a"; }

.icon-phone:before {
  content: "\e91b"; }

.icon-shopping-cart:before {
  content: "\e91c"; }

.icon-user:before {
  content: "\e91d"; }

.icon-users:before {
  content: "\e91e"; }

.icon-v-card:before {
  content: "\e91f"; }
