.edging {
	color: white;
	@include three-dimensional();
	> * { position: relative; }
}

$top-edging-height: 35px;
$bottom-edging-height: 25px;

#top-edging {
	z-index: 8;
	height: $top-edging-height;
	background: lighten($tertiary-color, 2.5%) !important;
}
#bottom-edging {
	z-index: 7;
	height: $bottom-edging-height;
	background: lighten($theme-color-green, 2.5%) !important;
}

$logo-diameter: $top-edging-height + $bottom-edging-height + 40px;
$logo-border: 1px;
$logo-color: $background-color;

#logo-wrapper {
	z-index: 10;
	display: block;
	width: $logo-diameter;
	height: $logo-diameter;
	background: $tertiary-color;
	border: solid $logo-border $logo-color;
	margin: (-$logo-diameter + 20px) auto -20px;
	overflow: hidden;
	position: relative;
    box-shadow: $shadow, inset $shadow;
	#logo, #home, &:after {
		position: absolute;
		left: -$logo-border;
		top: -$logo-border;
		display: block;
		width: calc(100% + 2 * #{$logo-border});
		height: calc(100% + 2 * #{$logo-border});
		box-sizing: border;
		transition: all 0.3s ease-out 0.0s;
	}
	#logo {
		z-index: 11;
		top: 18%;
		left: 15%;
		width: 70%;
		height: 70%;
		opacity: 1;
	}
	#home {
		z-index: 12;
		@include icon($icon-home, false);
		opacity: 0;
		transform: scale(1.25);
		&:before {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -0.5em;
			margin-top: -0.525em;
			color: white;
			font-size: ($logo-diameter * 0.6);
			text-shadow: 0 0 5px rgba(black, 0.75);
		}
	}
	/* Background circle */
	&:after {
		content: "";
		z-index: 13;
		background:
			radial-gradient(
				50% 10%, circle 30%,
				rgba(255, 255, 255, 0.4)   0%,
				rgba(255, 255, 255, 0.0) 100%),
			radial-gradient(
				50% -20%, circle 100%,
				rgba(255, 255, 255, 0.0)    0%,
				rgba(255, 255, 255, 0.0)   50%,
				rgba(  0,   0,   0, 0.15) 100%)
		;
	}
	&:hover {
		#logo {
			opacity: 0;
			transition: all 0.1s ease-in 0.0s;
		}
		#home {
			opacity: 1;
			transform: scale(1);
		}
	}
}

#logo {
	#logo-text > * {
		fill: $theme-color;
	}
}

@include darkmode() {
    #top-edging {
        background: darken($tertiary-color, 15%) !important;
    }

    #bottom-edging {
        background: darken($theme-color-green, 15%) !important;
    }

    #logo-wrapper {
        background: darken($tertiary-color, 15%);
	    border-color: darken(white, 10%);
    }

    #nav-wrp {
        background-color: $theme-color;
    }
}
