$site-navigation-width: 220px;
$menu-item-color: lighten($theme-color, 10%);
$menu-item-border: solid 1px lighten($theme-color, 5%);
$menu-item-hover-color: rgba($theme-color, 0.5);

.rnd-btn {
	border-radius: 50%;
	display: block;
	font-weight: bold;
	line-height: 1rem;
}

#nav-tog,
#top-lnk {
	background: $menu-item-color;
	box-shadow: $primary-box-shadow;
	color: white;
	font-size: 1.75rem;
	padding: 10px;
	position: fixed;
	right: 10px;
	z-index: 100;
	&:hover { background: $theme-color; }
	&.active { right: $site-navigation-width + 10px; }
	@include breakpoint-mf(S) {
		right: 20px;
	}
	@include breakpoint-mf(M) {
		&.active { right: 20px; }
	}
}

$nav_toggle_top: 20px;

#nav-tog {
	display: none;
	top: $nav_toggle_top;
	@include icon($icon-menu, false);
	&.active {
		@include icon-content($icon-cross);
	}
}

#top-lnk {
	bottom: 20px;
	opacity: 1;
	@include icon($icon-chevron-up, false);
	transform: scale(1);
	&.hidden {
		z-index: -1;
		opacity: 0;
		transform: scale(0.5);
	}
}

#nav-wrp {
	background-color: lighten(black, 30%);
	box-shadow: $primary-box-shadow;
	&, &.hidden {
		display: block;
	}
}

$admin-bar-bp-medium: 782px;
$admin-bar-bp-small: 600px;
$admin-bar-height: 32px;
$admin-bar-height-medium: 46px;
.admin-bar {
	#nav-tog { top: $nav_toggle_top + $admin-bar-height; }
	@include breakpoint(M) {
		#nav-wrp { top: $admin-bar-height; }
	}
	@include breakpoint($admin-bar-bp-medium) {
		#nav-tog { top: $nav_toggle_top + $admin-bar-height-medium; }
		#nav-wrp { top: $admin-bar-height-medium; }
	}
	@include breakpoint($admin-bar-bp-small) {
		#nav-tog { top: $nav_toggle_top; }
		#nav-wrp { top: 0px; }
	}
	#wp-admin-bar-wpseo-menu {
		display: none !important;
	}
}

#nav-menu {
	color: white;
	font-family: $theme-font-header;
	font-size: 1rem;
	padding: 0px 20px;
	text-align: center;
	@include flexbox();

	li {
		position: relative;
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			background-color: $menu-item-hover-color;
		}
	}
	a, .sub-tog {
		color: white;
		display: block;
	}
	a {
		padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
	}
}

#nav-menu .sub-tog {
	background-clip: padding-box;
	border: solid 5px transparent;
	border-radius: 50%;
	font-size: 1.4rem;
	line-height: 1;
	padding: 5px;
	position: absolute;
		top: 0px;
		right: 0px;
	display: none;
	@include icon( $icon-chevron-down, false );
	&.active {
		transform: rotateX(180deg);
	}
	&:hover {
		background-color: $menu-item-hover-color;
	}
}

#nav-menu .sub-menu {
	background-color: $menu-item-color;
	overflow: hidden;
	position: absolute;
		top: 100%;
		left: 0;
	width: 100%;
	word-wrap: break-word;
	z-index: -1;
	border-radius: 0 0 10px 10px;
	// Move the shadow 10 px down so that the submenu appears to belong to the menu tab.
	box-shadow: 0 10px 10px rgba(black, 0.25);
	opacity: 0;
	&.hidden {
		display: block;
	}
	> li:not(:first-child) {
		border-top: $menu-item-border;
	}
}

#nav-menu > li {
	width: 12.5%;
	&:hover {
		background-color: $menu-item-color;
		box-shadow: $primary-box-shadow;
	}
	> .sub-menu {
		font-size: 0.875rem;
	}
}

#nav-menu > li {
	> a {
		padding: ($primary-padding * 0.6) 0;
		position: relative;
		@include breakpoint(M) {
			padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
		}
		> span {
			position: absolute;
			left: 0;
			bottom: $primary-padding * 0.4;
			width: 100%;
			display: block;
			font-size: 0.7rem;
			margin-top: -5px;
			opacity: 0;
			transform: scale(0.9);
			@include breakpoint(M) {
				display: none;
				opacity: 0.5;
				transform: scale(1);
			}
		}
	}
	&[id^="menu-item-"] > a {
		@include icon("", true, false, 0.3em);
		&:before {
			color: darken(white, 20%);
		}
		@include breakpoint(M) {
			&:before { margin-right: 0.6em; }
		}
	}
	// $icons: (1: $icon-home), (2: $icon-news), (3: $icon-calendar), (4: $icon-shield),
	// 	(5: $icon-users), (6: $icon-users), (7: $icon-heart), (8: $icon-network);
	// @each $i, $icon in $icons {
	// 	&:nth-child(#{$i}) > a { @include icon-content($icon); }
	// }
	&:hover,
	&.current-menu-item,
	&.current-menu-ancestor,
	&.current-page-ancestor {
		> a {
			padding: ( $primary-padding * 0.32 ) 0 ( $primary-padding * 0.88 );
			@include breakpoint(M) {
				padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
			}
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	&:hover {
		> .sub-menu {
			transform: translateY(0px);
			opacity: 1;
			z-index: 100;
		}
	}
}

.logged-in #nav-menu > li:nth-child(8) > a {
	@include icon-content($icon-clipboard);
}

@include breakpoint(M) {
	#nav-wrp .inside {
		@include flexbox();
	}
	#nav-tog {
		display: block;
	}
	#nav-wrp {
		height: 100%;
		overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: fixed;
			right: 0;
			top: 0;
		width: $site-navigation-width;
		z-index: 100;
		box-shadow: none;
		&.hidden { right: -$site-navigation-width; }
		&:before { display: none; }
	}
	#nav-menu {
		width: 100%;
		padding: 0;
		text-align: left;
		li {
			width: 100%;
			&.current-menu-ancestor,
			&.current-page-ancestor {
				> .sub-tog { display: none; }
				> .sub-menu { display: block !important; }
			}
		}
	}
	#nav-menu > li {
		width: 100%;
		border: none;
		border-bottom: $menu-item-border;
		box-shadow: none;
		&:hover {
			background-color: $menu-item-hover-color;
			box-shadow: none;
		}
	}
	#nav-menu > li {
		> a {
			padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
			> span {
				display: none;
				opacity: 0.5;
				transform: scale(1);
			}
		}
		&[id^="menu-item-"] > a {
			&:before { margin-right: 0.6em; }
		}
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			> a {
				padding: ($primary-padding * 0.4) ($primary-padding * 0.6);
			}
		}
	}
	#nav-menu .sub-tog {
		display: block;
	}
	#nav-menu .sub-menu {
		background-color: none;
		margin-left: 10px;
		position: relative;
		top: 0;
		width: calc(100% - 10px);
		z-index: 100;
		border-radius: 0px;
		box-shadow: none;
		opacity: 1;
		transform: translateY(0px);
		&.hidden:not(.current-menu-ancestor):not(.current-page-ancestor) {
			display: none;
		}
		> li:first-child {
			border-top: $menu-item-border;
		}
	}
}