$site-navigation-width: 220px;
$menu-item-color: $theme-color;
$menu-item-color-active: lighten($theme-color, 10%);
$menu-item-border: solid 1px lighten($theme-color, 5%);

@mixin nav-icons() {
	&[id^="menu-item-"] > a {
		@include icon("", true, false, 0.3em);
		&:before {
			color: darken(white, 20%);
		}
	}
}

#nav-tog,
#nav-wrp,
#top-lnk {
	background: rgba(51, 51, 51, 0.8);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	transition: all 0.3s ease-out 0.0s;
}

#nav-tog,
#top-lnk {
	font-size: 1.75rem;
	padding: 10px;
	position: fixed;
	right: 10px;
	z-index: 100;
	&:hover { background: rgba(51, 51, 51, 1); }
	&.active { right: $site-navigation-width + 10px; }
	@include breakpoint-mf(S) {
		right: 20px;
	}
	@include breakpoint-mf(M) {
		&.active { right: 20px; }
	}
}

$nav-toggle-top: 20px;

#nav-tog {
	top: $nav-toggle-top;
	&.icn::before { content: $icon-menu; }
	&.active.icn::before { content: $icon-chevron-right; }
}

#top-lnk {
	bottom: 20px;
	opacity: 1;
	transform: scale(1);
	&.icn::before { content: $icon-chevron-up; }
	&.hidden {
		z-index: -1;
		opacity: 0;
		transform: scale(0.5);
	}
}

#nav-wrp {
	box-shadow: $shadow;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
		right: 0px;
		top: 0px;
	width: $site-navigation-width;
	z-index: 100;
	&, &.hidden { display: block; }
	&.hidden {
		right: -$site-navigation-width;
		box-shadow: 0 0 0px rgba(black, 0.25);
	}
	&:before { display: none; }
}

.flex #nav-menu {
	width: 100%;
}

#nav-menu {
	font-family: $theme-font-header;
	font-size: 1rem;
	li {
		position: relative;
		width: 100%;
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			background-color: $menu-item-color-active;
			> .tog { display: none; }
			> ul { display: block !important; }
		}
	}
	a, .tog {
		color: white;
		display: block;
	}
	a {
		padding: ($padding * 0.4) ($padding * 0.8);
	}
}

#nav-menu .tog {
	background-clip: padding-box;
	border: solid 5px transparent;
	font-size: 1.4rem;
	line-height: 1rem;
	padding: 5px;
	position: absolute;
		top: 0px;
		right: 0px;
	&.active { transform: rotateX(180deg); }
	&.icn::before { content: $icon-chevron-down; }
}

#nav-menu ul {
	background: $menu-item-color-active;
	overflow: hidden;
	word-wrap: break-word;
	&.hidden:not(.current-menu-ancestor):not(.current-page-ancestor) {
		display: none;
	}
}

#nav-menu > li {
	&:hover {
		background-color: $menu-item-color-active;
	}
	> ul {
		font-size: 0.875rem;
	}
}

#nav-menu > li > ul > li {
	&:hover {
		background-color: $menu-item-color;
	}
}

#nav-menu > li {
	> a {
		padding: ($padding * 0.4) ($padding * 0.8);
		> span { display: none; }
	}
}

@media (min-width: 72rem) and (max-width: 123.75rem) {
	#nav-tog {
		display: none;
	}
	#nav-wrp {
		background: $theme-color;
		backdrop-filter: none;
		overflow: visible;
		position: static;
		width: auto;
	}
	#nav-menu {
		li {
			&.current-menu-ancestor,
			&.current-page-ancestor {
				> .tog { display: none; }
				> ul { display: block !important; }
			}
		}
	}
	#nav-menu ul {
		border-left: 0;
		width: 100%;
		&, &.hidden {
			display: flex !important;
		}
	}
	#nav-menu > li > ul {
		border-radius: 0 0 10px 10px;
		box-shadow: 0 10px 10px rgba(black, 0.25);
		opacity: 0;
		position: absolute;
			top: 100%;
			left: 0;
		z-index: -1;
	}
	#nav-menu .sub-tog {
		display: none;
	}
	#nav-menu > li {
		text-align: center;
		width: 12.5%;
		ul {
			text-align: left;
		}
		> a {
			padding: ($padding * 0.4) 0;
			position: relative;
			> span {
				position: absolute;
				left: 0;
				bottom: $padding * 0.2;
				width: 100%;
				display: block;
				font-size: 0.7rem;
				opacity: 0;
				transform: scale(0.9);
			}
		}
		&:hover {
			background-color: $menu-item-color;
			> ul {
				opacity: 1;
				z-index: 100;
			}
		}
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor,
		&.current-page-ancestor {
			> a {
				padding: ( $padding * 0.12 ) 0 ( $padding * 0.68 );
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	#nav-menu > li > ul {
		border: solid thin $menu-item-color-active;
		border-top: none;
	}
}

@media(hover: hover) and (pointer: fine) {
	#nav-menu li:hover {
		background-color: $menu-item-color-active;
	}
	#nav-menu .tog:hover {
		background-color: $menu-item-color;
	}
}

$admin-bar-bp-medium: 782px;
$admin-bar-bp-small: 600px;
$admin-bar-height: 32px;
$admin-bar-height-medium: 46px;
.admin-bar {
	#nav-tog { top: $nav-toggle-top + $admin-bar-height; }
	@include breakpoint(M) {
		#nav-wrp { top: $admin-bar-height; }
	}
	@include breakpoint($admin-bar-bp-medium) {
		#nav-tog { top: $nav-toggle-top + $admin-bar-height-medium; }
		#nav-wrp { top: $admin-bar-height-medium; }
	}
	@include breakpoint($admin-bar-bp-small) {
		#nav-tog { top: $nav-toggle-top; }
		#nav-wrp { top: 0px; }
	}
	#wp-admin-bar-wpseo-menu {
		display: none !important;
	}
}
