#login-btn,
#srch-tog,
#srch-wrp {
	top: -106px;
	position: absolute;
}

$search-color: darken(white, 30%);
$search-border: darken(white, 20%);
$search-bg: darken(white, 5%);
#login-btn,
#srch-tog {
	background: $search-bg;
	border: solid 1px $search-border;
	color: $search-color;
	font-size: 1.25rem;
	padding: 6px;
	text-align: center;
	z-index: 100;
	&:hover {
		color: darken(white, 50%);
	}
	&.active {
		background: rgba($search-bg, 0);
		border-color: transparent;
	}
}

#login-btn {
	right: 20px;
	@include icon($icon-user, false);
}

body.logged-in #login-btn {
	&:before {
		margin-left: 1px;
		margin-right: -1px;
	}
	@include icon-content($icon-log-out);
}

#srch-tog,
#srch-wrp {
	right: 64px;
}

#srch-tog {
	@include icon($icon-magnifying-glass, false);
	&.active {
		@include icon-content($icon-cross);
	}
	&:hover + #srch-wrp #s {
		background: darken(white, 2.5%);
	}
}

#srch-wrp {
	z-index: 99;
	#s {
		background: $search-bg;
		border-color: $search-bg;
		border-radius: calc(6px + 1.25rem);
		display: block;
		height: calc(14px + 1.25rem);
		opacity: 1;
		padding: 5px 10px;
		width: 256px;
		z-index: inherit;
		&:hover {
			background: darken(white, 2.5%);
		}
		&:focus {
			border-color: $search-border;
		}
	}
	#srch-sbmt {
		display: none;
	}
	&.hidden {
		display: block;
		#s {
			opacity: 0;
			width: 128px;
			z-index: -1;
		}
	}
}

@include breakpoint(M) {
	#login-btn,
	#srch-tog,
	#srch-wrp {
		position: static;
	}
	#srch-tog {
		display: none;
	}
	#login-btn,
	#srch-wrp #s {
		border-radius: 3px;
	}
	#srch-wrp {
		padding: 3px;
		width: calc(100% - 1.5rem - 15px);
		#s {
			height: auto;
			padding: 7px 10px;
		}
		&.hidden #s {
			opacity: 1;
			width: 100%;
		}
	}
	#login-btn {
		margin: 3px 3px 3px 0px;
		width: calc(1.5rem + 12px);
	}
}